.newStory {
    min-height: 100vh;
    background-image: linear-gradient(to right, #fff5bc, #cec1ff);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vmax;
    box-sizing: border-box;
  }
  
  .newStoryForm {
    background-color: white;
    height: 100%;
    width: 50%;
    border-radius: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid green;
  }

  
  .newStoryForm > img {
    width: 95%;
    margin: 5px;
    max-height: 300px;
    object-fit: cover;
    border-radius: 5px;
  }



  .newStoryForm > video {
    width: 95%;
    margin: 5px;
    max-height: 300px;
    object-fit: cover;
    border-radius: 5px;
  }


  .newStoryForm > h3 {
    margin: 2vmax;
  }
  
  .newStoryForm > input[type="text"] {
    width: 80%;
    padding: 0.60vmax;
    border-radius: 15px;
    border: 2px solid rgb(177, 174, 174);
    outline: none;
    font: 50 1rem "Roboto", sans-serif;
  }
  
  .newStoryForm > input[type="file"] {
    border-radius: 30px;
    margin: 1vmax;
  }
  
  .newStoryForm > input[type="file"]::-webkit-file-upload-button {
    background-color: rgb(38, 63, 173);
    color: white;
    width: 100%;
    padding: 0.50vmax;
    border-radius: 30px;
    border: none;
    font: 100 1.2rem "Roboto", sans-serif;
  }
  
  @media screen and (max-width: 600px) {
    .newStoryForm {
      width: 100%;
    }
  
    .newStoryForm > input {
      padding: 4vw 8vw;
      margin: 2vmax;
      font: 100 1.2rem "Roboto", sans-serif;
      /* margin: 4vw; */
    }
    .newStoryForm > input[type="file"] {
      width: 100%;
    }
  
    .newStoryForm > input[type="file"]::-webkit-file-upload-button {
      width: 70%;
    }
  }