.account-item{
    width: 100%;
    height: 100vh;   
    text-align: center;
    box-sizing: border-box;
 }


/* -----------------center-Side--------------------- */


.center-side{
    width: 100%;
    height: 100%;
    border-left: 1px solid rgb(252, 253, 253);
    background-color: black;
    overflow: auto;
}


.profile-details{
    margin-left: 120px;
    width: 70%;
    justify-content: center;
    display: flex;
    color: white;
    border-bottom: 1px solid rgb(240, 238, 238);
}


.profile-details img:hover {
    transform: scale(1.1);
  }
  


.content{
    margin: 35px 25px;
}


.user-name > button{
    margin: 0px 0px;
    font-size: 2rem;
}

 .details{
    margin-top: 10px;
    display: flex;
 }

  




.follow-button{
    margin: 20px 30px;
    width: 50%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;

}

.follow-button >button{
    color: white;
    cursor: pointer;
    font-weight: 700;
}

 
.posts-tags{
    width: 70%;
    display: flex;
    padding: 5px;
    justify-content: center;
    color: white;
    margin-left: 120px;
    border-bottom: 1px solid white;
    
}

.posts-tags > a{
    font-size: 0.90rem;
    text-decoration: none;
}

.posts-tags > a >h5{
    padding: 5px 10px;
    font-size: 0.90rem;
    color: white;
   
    
}

.posts-tags > a > h5 >svg{
    font-size: 0.90rem;
    color: white;
}

.no-post-msg{
    margin-top: 50px;
}

.no-post-msg >svg{
    font-size: 5rem;
    opacity: 10px;
}
  
.no-post-msg >h5{
    font-size: 2.5rem;
}


 



.my-posts{
    
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}





.DialogBox2 {
    width: 90%;
    padding: 2vmax;
   
  }


  .DialogBox2 >p{
    padding: 4px;
  }

  .box-content{
    display: flex;
    margin-top: 10px;

  }

  .box-content > svg{
  font-size: 2rem;
  padding: 4px;
  }

  .box-content > button{
    background: none;
    text-decoration: none;
    color: black;
    text-transform: capitalize;
    }

    .box-content > button >span{
        font-size: 1.4rem;
        margin-left: 5px;
        font-family: revert;
        margin-top: 0px;
        }
        

  .box-content > a{
    margin-top: 7px;
    text-decoration: none;
    color: black;
    }
  
    .box-content > a > span{
      font-size: 1.4rem;
        margin-left: 5px;
        font-family: revert;
        font-weight: 700;
        
     }


  .box-content > p{
    font-size: 1.1rem;
    margin:0px 10px;
    cursor: pointer;
    }



    .down-back >a{
        background: none;
        border: none;
    }

    .down-back >a>svg{
        font-size: 1.5rem;
        color: Blue;
    }

 .dropdown-list >li > a  {
    font-size: 1.3rem;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
 }
 .dropdown-list >li > button  {
    font-size: 1.3rem;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
 }


