.post {
    width: 65%;
    background-color: black;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(248, 246, 246);
    padding: 0 1vmax 2vmax;
    margin: 2vmax;
  }
  
  .postHeader {
    margin-top: 5px;
    width: 98%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 2px;
   color: white;
    position: relative;
  }

  .postHeader > a {
    text-decoration: none;
    color:white;

  }
  
  .header-btn{
    width: 25%;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 0px;
  
  }


  .header-btn > button{
    margin: 0px 0px;
  }


 
 .postHeader > h5{
     margin: 12px 0px;
 }
 
  .postHeader > img{
     margin: 5px 10px;
     width: 45px;
     height: 45px;
     border-radius: 50%;
 }



  .postHeader > button {
    border-radius: 100%;
    color: rgba(0, 0, 0, 0.582);
  }
  
  .post > img {
    margin-top: 5px;
    width: 100%;
    max-height: 500px;
    border-radius: 5px;
  }

  .post > video {
    width: 100%;
  }
  
  .postDetails {
    display: flex;
  }
  
  .postDetails > a {
    text-decoration: none;
    color:white;
    margin: 1vmax;
  }


 .postFooter{
  display: flex;
  justify-content: flex-start;
  position: relative;
 }

  
  .postFooter > button {
    border-radius: 100%;
    transition: all 0.3s;
  }
  
  .postFooter > button:hover {
    transform: translateY(-4px);
  }
  
  .postFooter > button > svg {
    font-size: 2vmax;
  }


  .save-btn{
     display: flex;
     position: absolute;
     right: 0px;
     top: 0px;
  }

  .save-btn >button>svg{
    font-size: 1.8rem;
    cursor: pointer;
  }


  .save-btn > button {
    transition: all 0.3s;
  }
  
  .save-btn > button:hover {
    transform: translateY(-4px);
  }


  

  .liked-btn{
    display: flex;
    justify-content: flex-start;
  }  


  .liked-btn > button{
    border: none;
    color: white;
    background-color: black;
    cursor: "pointer";
    margin-left: 20px;
            
  }





  .DialogBox {
    min-width: 500px;
    height: 100vh;
    padding: 2vmax;
  }

  .commentForm {
    display: flex;
    margin: 1vmax;
  }
  
  .commentForm > input {
    width: 100%;
    padding: 1vmax 2vmax;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.288);
    border-radius: 30px 0 0 30px;
    font: 100 1vmax "Roboto", sans-serif;
  }
  .commentForm > button {
    border-radius: 0%;
  }
  









  @media screen and (max-width: 600px) {
    .post {
      width: 100%;
      border-radius: 0;
      box-shadow: none;
      border: 1px solid rgba(0, 0, 0, 0.068);
      padding: 0 0 4vw;
      margin: 0;
    }
  
    .postFooter > button > svg {
      font-size: 8vw;
    }
  }